<div class="container-fluid nav-section border-0">
    <nav class="navbar navbar-light">
        <div class="navbar-nav flex-column">
            <a href="#pigraHome" class="nav-item nav-link active"><span class="fa fa-home"></span> Anasayfa</a>
            <a href="#pigraAbout" class="nav-item nav-link"><span class="far fa-address-card"></span> Hakkımda</a>
            <a href="#pigraEducation" class="nav-item nav-link"><span class="fas fa-school"></span> Eğitim Hayatım</a>
            <a href="#experience" class="nav-item nav-link"><span class="fas fa-book-reader"></span> Deneyimlerim</a>
            <a href="#skills" class="nav-item nav-link"><span class="fa fa-blog"></span> Yeteneklerim</a>
            <a href="#pigraService" class="nav-item nav-link"><span class="fab fa-servicestack"></span> Hizmetlerim</a>
            <a href="#portfolio" class="nav-item nav-link"><span class="fas fa-lightbulb"></span> Portfolio</a>
            <a href="#testimonial" class="nav-item nav-link"><span class="fas fa-apple-alt"></span> Referanslar</a>
            <a href="#pigraContact" class="nav-item nav-link"><span class="fas fa-address-book"></span> Bana Yazın</a>
        </div>
    </nav>
</div>
