@model Project1Portfolio.Models.Experience

@{
    ViewBag.Title = "CreateExperience";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h2 class="mb-4">Yeni Deneyim Girişi</h2>
<form method="post">

    <label>Şirket Başlığı</label>
    <input type="text" class="form-control" required maxlength="50"/>
    <br />
    <label>İş Tarihi</label>
    <input type="text" class="form-control" required maxlength="50" />
    <br />
    <label>Unvan</label>
    <input type="text" class="form-control" required maxlength="50" />
    <br />
    <label>Açıklama</label>
    @Html.TextAreaFor(x => x.Description, 6, 1, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Deneyimi Oluştur</button>
</form>