﻿@model Project1Portfolio.Models.Skill
@{
    ViewBag.Title = "UpdateSkill";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h2>Yetenek Güncelleme Sayfası</h2>


@using (Html.BeginForm("UpdateSkill", "Skill", FormMethod.Post))
{
    @Html.HiddenFor(k => k.SkillId)
    <div class="form-group">
        <label>Yetenek</label>
        @Html.TextBoxFor(k => k.Title, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Soyad</label>
        @Html.TextBoxFor(k => k.Value, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        <button class="btn btn btn-outline-info">Güncelle</button>
    </div>
}
