@model List<Project1Portfolio.Models.Work>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Admin/Index.cshtml";
}
<h2>Çalışmalarım</h2>
<table class=" table table-bordered">
    <tr>
        <th>Id</th>
        <th>Başlık</th>
        <th>Açıklama</th>
        <th>Github</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.WorkId</td>
            <td>@item.Title</td>
            <td>@item.Description</td>
            <td>@item.GithubUrl</td>
            <td><a href="/Work/DeleteWork/@item.WorkId" class="btn btn-danger">Sil</a></td>
            <td><a href="/Work/UpdateWork/@item.WorkId" class="btn btn-success">Güncelle</a></td>
        </tr>
    }

</table>
<td><a href="/Work/CreateWork/" class="btn btn-info">Yeni Deneyim Girişi</a></td>
