@model Project1Portfolio.Models.Work


@{
    ViewBag.Title = "UpdateWork";
    Layout = "~/Views/Admin/Index.cshtml";
}
<h2 class="mb-4">Çalışmayı Güncelle</h2>
<form method="post">
    @Html.HiddenFor(x => x.WorkId, new { @class = "form-control" })

    <label>Çalışma Başlığı</label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br />
    <label>Açıklama</label>
    @Html.TextAreaFor(x => x.Description, 6, 0, new { @class = "form-control" })
    <br />
    <label>Github</label>
    @Html.TextBoxFor(x => x.GithubUrl, new { @class = "form-control" })
    <br />
    <button class="btn btn-success">Çalışmayı Güncelle</button>
</form>
