
@{
    ViewBag.Title = "CreateCategory";
    Layout = "~/Views/Admin/Index.cshtml";
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<div style="background-color:deepskyblue">
    <h3 class="alert alert-success">Yeni Kategori Ekleme Alanı</h3>
    <label>Kategori Adı</label>
    <input type="text" class="form-control" />
    <br />
    <label>Kategori Açıklaması</label>
    <input type="text" class="form-control" />
    <br />
    <label>Kategori Değeri</label>
    <input type="text" class="form-control" />
    <br />
    <button>Kategori Oluştur</button>
</div>

