@model List<Project1Portfolio.Models.SocialMedia>

@{
    ViewBag.Title = "SocialMediaList";
    Layout = "~/Views/Admin/Index.cshtml";
}


<table class=" table table-bordered">
    <tr>
        <th>Id</th>
        <th>Sosyal Medya</th>
        <th>Durum</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.SocialMediaId</td>
            <td>@item.Title</td>

            <td><a href="@($"/SocialMedia/ChangeStatus?id={item.SocialMediaId}&status={(!item.Status).ToString().ToLower()}")" class="btn btn-@(item.Status ?? false ?"success":"secondary")">@(item.Status ?? false ?"Aktif":"Pasif")</a></td>


            <td><a href="/SocialMedia/DeleteSocialMedia/@item.SocialMediaId" class="btn btn-danger">Sil</a></td>
            <td><a href="/SocialMedia/UpdateSocialMedia/@item.SocialMediaId" class="btn btn-info">Güncelle</a></td>
        </tr>
    }

</table>